{
	"openapi": "3.1.0",
	"info": {
		"title": "Linc",
		"summary": "Some Summary",
		"description": "Some description",
		"termsOfService": "http://www.linc.world/terms/",
		"contact": {
			"name": "Linc",
			"url": "http://www.linc.world/contact/",
			"email": "team@linc.world"
		},
		"license": {
			"name": "AGPL-3.0",
			"identifier": "(AGPL-3.0+)"
		},
		"version": "1.0.0"
	},
	"externalDocs": {
		"description": "Find out more about Linc",
		"url": "https://www.linc.world/developer/"
	},
	"servers": [
		{
			"url": "https://api.linc.world/v1/tools"
		}
	],
	"tags": [],
	"webhooks": {},
	"paths": {},
	"components": {
		"schemas": {
			"attributes": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"time": {
						"type": "object",
						"additionalProperties": false,
						"properties": {
							"timestamp": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"value": {
										"type": "integer",
										"properties": {},
										"minimum": 0,
										"maximum": 9,
										"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>undefined"
									}
								},
								"title": "Timestamp",
								"description": "unix"
							},
							"duration": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"value": {
										"type": "integer",
										"properties": {},
										"minimum": 0,
										"maximum": 9,
										"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
									}
								},
								"title": "Duration",
								"description": "_content"
							}
						},
						"title": "Time",
						"description": "Temporal parameters to specify the moment or duration of an event."
					},
					"space": {
						"type": "object",
						"additionalProperties": false,
						"properties": {
							"position": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"coordinates": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"x": {
														"type": "integer",
														"minimum": -10000000000,
														"maximum": 10000000000,
														"description": "\n> **Unit:** \n>\n>Metre (m)\n>\n>The fundamental unit of length in the International System of Units (SI)."
													},
													"y": {
														"type": "integer",
														"minimum": -10000000000,
														"maximum": 10000000000,
														"description": "\n> **Unit:** \n>\n>undefined (undefined)\n>\n>undefined"
													},
													"z": {
														"type": "integer",
														"minimum": -10000000000,
														"maximum": 10000000000,
														"description": "\n> **Unit:** \n>\n>undefined (undefined)\n>\n>undefined"
													}
												}
											}
										},
										"title": "Coordinates",
										"description": "X, Y, Z values pinning an object's location within a room or system."
									},
									"geo_location": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"latitude": {
														"type": "integer",
														"minimum": -90,
														"maximum": 90,
														"description": "\n> **Unit:** \n>\n>Degree (°)\n>\n>Degree (°) is the unit for measuring latitude and longitude."
													},
													"longitude": {
														"type": "integer",
														"minimum": -180,
														"maximum": 180,
														"description": "\n> **Unit:** \n>\n>Degree (°)\n>\n>Degree (°) is the unit for measuring latitude and longitude."
													},
													"elevation": {
														"type": "integer",
														"minimum": -10000000000,
														"maximum": 10000000000,
														"description": "\n> **Unit:** \n>\n>undefined (undefined)\n>\n>undefined"
													}
												}
											}
										},
										"title": "Geo Location",
										"description": "Latitude and longitude marking a spot on Earth's surface, plus elevation to indicate height above sea level."
									}
								},
								"title": "Position",
								"description": "The exact place where something is situated, relevant to its environment."
							},
							"distance": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"value": {
										"type": "integer",
										"properties": {},
										"minimum": 0,
										"maximum": 10000000000000,
										"description": "\n> **Unit:** \n>\n>Metre (m)\n>\n>The fundamental unit of length in the International System of Units (SI)."
									}
								},
								"title": "Distance",
								"description": "Length between features or points."
							},
							"area": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"value": {
										"type": "integer",
										"properties": {},
										"minimum": 0,
										"maximum": 10000000000000,
										"description": "\n> **Unit:** \n>\n>Square Metre (m²)\n>\n>Standard unit of area in the metric system. Used globally for scientific, educational, and everyday measurements."
									}
								},
								"title": "Area",
								"description": "Extent of a surface such as a floor, wall, or plot within a built environment."
							},
							"volume": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"value": {
										"type": "integer",
										"properties": {},
										"minimum": 0,
										"maximum": 10000000000000,
										"description": "\n> **Unit:** \n>\n>Cubic Metre (m³)\n>\n>Standard unit for measuring volume in construction and engineering, often used for large building spaces and material quantities."
									}
								},
								"title": "Volume",
								"description": "Space occupied by a room, building, or structure"
							}
						},
						"title": "Space",
						"description": "Spatial parameters to define the location and dimentions of physical structures."
					},
					"device": {
						"type": "object",
						"additionalProperties": false,
						"properties": {
							"linc": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"label": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24
											}
										},
										"title": "Label",
										"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network."
									},
									"model": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"oneOf": [
													{
														"const": "electrical",
														"title": "Electrical",
														"description": "Linc Electrical Node"
													},
													{
														"const": "industrial",
														"title": "Industrial",
														"description": "Linc Industrial Node"
													},
													{
														"const": "environmental",
														"title": "Environmental",
														"description": "Linc Environmental Node"
													},
													{
														"const": "wmbus",
														"title": "w-MBus",
														"description": "Linc w-MBus Node"
													},
													{
														"const": "lora",
														"title": "LoRa",
														"description": "Linc LoRa Node"
													},
													{
														"const": "cellular",
														"title": "Cellular",
														"description": "Linc Cellular Node"
													},
													{
														"const": "modbus",
														"title": "Modbus",
														"description": "Linc Modbus Node"
													}
												]
											}
										},
										"title": "Model",
										"description": "Type and variant of a Linc node, indicating its capabilities and features."
									},
									"hw_version": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "v1.2.3",
												"minLength": 6,
												"maxLength": 14,
												"pattern": "^v(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)$"
											}
										},
										"title": "Hardware Version",
										"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations."
									},
									"fw_version": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "v1.2.3",
												"minLength": 6,
												"maxLength": 14,
												"pattern": "^v(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)$"
											}
										},
										"title": "Firmware Version",
										"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes."
									},
									"dataplan": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"reporting_interval": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"oneOf": [
															{
																"const": 1,
																"title": "1 second",
																"description": "Data is reported to server at 1 second intervals."
															},
															{
																"const": 60,
																"title": "1 minute",
																"description": "Data is reported to server at 1 minute intervals."
															}
														],
														"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds."
													}
												},
												"title": "Reporting Interval",
												"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided."
											},
											"mode": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "platform",
																"title": "Platform",
																"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
															},
															{
																"const": "relay",
																"title": "Relay",
																"description": "Data access only via API or MQTT channels for third-party storage and processing."
															},
															{
																"const": "local",
																"title": "Local",
																"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
															}
														],
														"default": "platform"
													}
												},
												"title": "Mode",
												"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs."
											}
										},
										"title": "Dataplan",
										"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
									}
								},
								"title": "Linc Node",
								"description": "Hardware related parameters for a Linc node."
							},
							"wifi": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"mac_address": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "00:1A:2B:3C:4D:5E",
												"pattern": "^(?:[0-9A-Fa-f]{2}([-:]))(?:[0-9A-Fa-f]{2}\\1){4}[0-9A-Fa-f]{2}$"
											}
										},
										"title": "MAC Address",
										"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned."
									}
								},
								"title": "Wi-Fi Module",
								"description": "Detailes related to the Wi-Fi module - a hardware component that allows devices to connect to Wi-Fi networks for wireless data communication using standards like 802.11b/g/n."
							},
							"cellular": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"model": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24,
												"example": "BG95-M3LA"
											}
										},
										"title": "Model",
										"description": "The model of a cellular module refers to its distinct version in terms of features, capabilities, and cellular compatibility."
									},
									"serial": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24,
												"example": "834627239"
											}
										},
										"title": "Serial",
										"description": "A serial number is a unique identifier assigned by the manufacturer to a cellular module. It helps in tracking, service support, and verifying authenticity."
									},
									"fw_version": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "v1.2.3",
												"minLength": 6,
												"maxLength": 14,
												"pattern": "^v(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)\\\\.(?:0|[1-9][0-9]*)$"
											}
										},
										"title": "Firmware Version",
										"description": "The firmware version of a cellular module represents its embedded software state, dictating functionalities and network compatibility. Updates can introduce new features or fixes. Identifying the version aids in troubleshooting."
									},
									"imei": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "123456789012345",
												"pattern": "^[0-9]{15,17}$"
											}
										},
										"title": "IMEI",
										"description": "The IMEI (International Mobile Equipment Identity) is a unique 15-digit number assigned to mobile devices, such as smartphones and tablets. It serves as an identifier for the device and can be used by cellular networks to authenticate the device and permit or deny its access to the network. IMEI is essential for tracking and blacklisting stolen devices, ensuring they cannot be used on any network, even if the SIM card is replaced."
									}
								},
								"title": "Cellular Module",
								"description": "Details related to a cellular module - a hardware component that connects devices to cellular networks for wireless data transmission using standards like 4G (LTE) and 5G."
							},
							"wmbus": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"id_number": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "12345678",
												"pattern": "^[0-9A-Fa-f]{2,8}$"
											}
										},
										"title": "Identification Number",
										"description": "A unique 4-byte (8-character) hexadecimal number assigned to each wM-Bus device, ensuring distinct identification within a wireless network."
									},
									"device_type": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"pattern": "^[0-9A-Fa-f]{1,2}$"
											}
										},
										"title": "Device Type",
										"description": "Specifies the kind of meter (e.g., water, gas, electricity) and can influence how the data is interpreted."
									},
									"manufacturer": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"pattern": "^[0-9A-Z]{3}$"
											}
										},
										"title": "Manufacturer",
										"description": "A code that specifies the company that made the meter. This often helps in interpreting proprietary data or understanding specific device behaviours."
									},
									"model": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24,
												"example": "EM24"
											}
										},
										"title": "Model",
										"description": "Represents the specific model identifier of the wM-Bus device. Typically an alphanumeric string specified by the manufacturer to denote a product variant."
									},
									"version": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"pattern": "^[0-9A-Fa-f]{1,2}$"
											}
										},
										"title": "Version",
										"description": "Indicates the version of the device or the software it's running, useful for ensuring compatibility and correct data interpretation."
									}
								},
								"title": "Wireless M-Bus Device",
								"description": "Details related to a wM-Bus device that is compliant with the wireless Meter-Bus protocol (EN 13757-4), designed primarily for remote reading of utility meters in smart metering solutions."
							},
							"lora": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"dev_eui": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"example": "00D0C9EAB24CDA74",
												"pattern": "^(?:[0-9A-Fa-f]{2}([-:]))(?:[0-9A-Fa-f]{2}\\1){6}[0-9A-Fa-f]{2}$"
											}
										},
										"title": "Device EUI (Extended Unique Identifier)",
										"description": "A globally unique identifier for the end-device. It's essentially the MAC address of the device and ensures that each LoRaWAN device in the world has a unique identifier. Typically represented as 16 hexadecimal characters."
									}
								},
								"title": "Lora Device",
								"description": "Details related to device that employs LoRa (Long Range) technology, enabling long-distance data transmission with low power consumption, typically used in Internet of Things (IoT) networks and remote sensors."
							},
							"modbus": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"model": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24
											}
										},
										"title": "Model",
										"description": "The specific make or variant of a Modbus-compatible device, indicating its design, capabilities, and features."
									},
									"fw_version": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"minLength": 1,
												"maxLength": 24
											}
										},
										"title": "Firmware Version",
										"description": "The software revision number associated with a Modbus device, reflecting updates, enhancements, or fixes. This version helps in tracking compatibility, performance improvements, or bug fixes in the device's software."
									}
								},
								"title": "Modbus Device",
								"description": "Details related to a device that adheres to the Modbus protocol, a standard serial communication method widely used for connecting industrial electronic devices, facilitating data exchange between controllers and sensors or actuators in automation systems."
							}
						},
						"title": "Device",
						"description": "Parameters for identification, information and configuration of hardware devices."
					},
					"network": {
						"type": "object",
						"additionalProperties": false,
						"properties": {
							"connectivity": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"status": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "string",
												"properties": {},
												"oneOf": [
													{
														"const": "online",
														"title": "Online",
														"description": "Device is connected to server."
													},
													{
														"const": "offline",
														"title": "Offline",
														"description": "Device is disconnected from server."
													}
												]
											}
										},
										"title": "Status",
										"description": "The connection status shows whether or not a device is currently online."
									},
									"uptime": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"average_6h": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": 0,
														"maximum": 100
													}
												},
												"title": "Uptime (6-hour Average)",
												"description": "Moving average of the device uptime in the past 6 hours."
											}
										},
										"title": "Uptime",
										"description": "The proportion of time that a network device has been connected to server in a given timeframe."
									}
								},
								"title": "Connectivity",
								"description": "Parameters related to the status and stability of device connectivity to server."
							},
							"wifi": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"signal": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"rssi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -128,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSSI",
												"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
											}
										},
										"title": "Signal",
										"description": "Parameters related to the strength and quality of a network signal."
									},
									"connection": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"status": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "enabled",
																"title": "Enabled",
																"description": "Network is enabled."
															},
															{
																"const": "disabled",
																"title": "Disabled",
																"description": "Network is disabled."
															}
														]
													}
												},
												"title": "Status",
												"description": "The connection status refers to whether or not a connection is enabled."
											},
											"ip_address": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"example": "192.168.1.10",
														"anyOf": [
															{
																"format": "ipv4"
															},
															{
																"format": "ipv6"
															}
														]
													}
												},
												"title": "IP Address",
												"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "Wi-Fi",
								"description": "Wi-Fi is a wireless technology that allows devices to connect to the internet or local networks using radio waves, typically in the 2.4 GHz and 5 GHz bands, without physical cables. It's facilitated by wireless routers that broadcast internet connections to devices like computers, smartphones, and tablets."
							},
							"linc_mesh": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"signal": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"rssi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -128,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSSI",
												"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
											}
										},
										"title": "Signal",
										"description": "Parameters related to the strength and quality of a network signal."
									},
									"connection": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"status": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "enabled",
																"title": "Enabled",
																"description": "Network is enabled."
															},
															{
																"const": "disabled",
																"title": "Disabled",
																"description": "Network is disabled."
															}
														]
													}
												},
												"title": "Status",
												"description": "The connection status refers to whether or not a connection is enabled."
											},
											"ip_address": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"example": "192.168.1.10",
														"anyOf": [
															{
																"format": "ipv4"
															},
															{
																"format": "ipv6"
															}
														]
													}
												},
												"title": "IP Address",
												"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet."
											},
											"hop_count": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": 1,
														"maximum": 24
													}
												},
												"title": "Hop Count",
												"description": "Hop count in a mesh network refers to the number of intermediate nodes that data must pass through between its originating node and the root node with internet access. It serves as a metric to determine the path's length and potential latency. As the hop count increases, it can impact the overall bandwidth availability and network efficiency due to increased chances of congestion and interference."
											},
											"parent_node": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"example": "1001",
														"pattern": "^[123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{1}[0123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{3,5}$"
													}
												},
												"title": "Parent Node",
												"description": "Parent node in a mesh network refers to an immediate upstream node to which another node (typically referred to as the child node) is directly connected. The parent node helps the child node with tasks like routing data, establishing connectivity, or maintaining the network hierarchy within the mesh topology."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "Linc Mesh",
								"description": "The Linc Mesh provides internet access throughout a building by relaying data through Linc nodes. It uses the 2.4 GHz frequency for Wi-Fi-like range and speed. It self-routes data across nodes, reducing reliance on central access points and making the connection more resilient."
							},
							"cellular": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"signal": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"rssi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -128,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSSI",
												"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
											},
											"rsrp": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -128,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSRP",
												"description": "RSRP (Reference Signal Received Power) gauges the power level of specific LTE reference signals in dBm. Closer to -80 dBm signifies a strong signal, while figures around -100 dBm indicate weak ones. RSRP helps determine LTE cell coverage and connection robustness."
											},
											"rsrq": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -32,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel (dB)\n>\n>Signal quality and clarity in a wireless network quantified in dB (decibels) on a logarithmic scale."
													}
												},
												"title": "RSRQ",
												"description": "RSRQ (Reference Signal Received Quality) evaluates the quality of LTE reference signals by comparing the received power of a reference signal to the total received power. A value closer to -10 dB suggests superior signal quality, while values nearing -20 dB indicate poorer quality. RSRQ helps understand the LTE signal's relative quality in the context of surrounding interference."
											},
											"sinr": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -32,
														"maximum": 32,
														"description": "\n> **Unit:** \n>\n>Decibel (dB)\n>\n>Signal quality and clarity in a wireless network quantified in dB (decibels) on a logarithmic scale."
													}
												},
												"title": "SINR",
												"description": "SINR (Signal-to-Interference-plus-Noise Ratio) contrasts the power of a desired signal against the combined power of interference and noise, represented in dB. Higher values, like 20 dB, suggest a better signal quality, whereas values close to 0 dB suggest a compromised signal due to interference. SINR helps gauge LTE connection clarity."
											}
										},
										"title": "Signal",
										"description": "Parameters related to the strength and quality of a network signal."
									},
									"connection": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"status": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "enabled",
																"title": "Enabled",
																"description": "Network is enabled."
															},
															{
																"const": "disabled",
																"title": "Disabled",
																"description": "Network is disabled."
															}
														]
													}
												},
												"title": "Status",
												"description": "The connection status refers to whether or not a connection is enabled."
											},
											"mode": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "cat_m1",
																"title": "LTE-M (Cat-M1)",
																"description": "LTE-M, also known as Cat-M1, is a low-power wide-area (LPWA) technology tailored for IoT applications. Offering data rates up to 1.12 Mbps uplink and 589 kbps downlink, it ensures reliable connectivity, especially in challenging environments like deep inside buildings."
															},
															{
																"const": "cat_nb2",
																"title": "NB-IoT (Cat-NB2)",
																"description": "NB2, an evolution of NB-IoT, is a low-power wide-area (LPWA) technology designed specifically for IoT devices. With data rates around 150 kbps uplink and 136 kbps uplink, it's optimized for minimal bandwidth applications and offers excellent penetration for connectivity in challenging locations, such as deep within buildings."
															}
														]
													}
												},
												"title": "Mode",
												"description": "Cellular modes like Cat M1, Cat NB2 refer to different categories of 4G (LTE) and 5G technologies."
											},
											"pin": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"pattern": "^[0-9]{4}$"
													}
												},
												"title": "PIN",
												"description": "The PIN (Personal Identification Number) for a SIM card is a security code, typically 4 to 8 digits long, that protects the card from unauthorized access. When enabled, users must enter the PIN to use the SIM for accessing cellular data. If entered incorrectly multiple times, the SIM locks, requiring a PUK (Personal Unblocking Key) to unlock."
											},
											"iccid": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"pattern": "^[0-9]{18,22}$"
													}
												},
												"title": "ICCID",
												"description": "The ICCID (Integrated Circuit Card Identifier) is a unique serial number assigned to each SIM card used in mobile devices. Typically 19 to 20 digits long, it's used to identify the SIM internationally, helping operators and service providers manage their subscribers. The ICCID provides information about the card's origin, network, and other specific details."
											},
											"apn": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"maxLength": 100
													}
												},
												"title": "APN",
												"description": "The APN (Access Point Name) is a setting that identifies a cellular data network the node can connect to. It provides the necessary information to connect to the internet and defines the type of service it can access. Cellular providers specify the APN settings for their networks, ensuring users can send and receive data correctly."
											},
											"imsi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"mcc": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "string",
																"properties": {},
																"pattern": "^[0-9]{3}$"
															}
														},
														"title": "MCC",
														"description": "The MCC (Mobile Country Code) is a three-digit number used to identify a mobile device's country of origin or the country of the cellular network it's operating in. It's a component of the IMSI (International Mobile Subscriber Identity) and is essential for international roaming, ensuring the device can connect to networks outside its home country."
													},
													"mnc": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "string",
																"properties": {},
																"pattern": "^[0-9]{2,3}$"
															}
														},
														"title": "MNC",
														"description": "The MNC (Mobile Network Code) is a two or three-digit number used in conjunction with the Mobile Country Code (MCC) to identify a specific mobile network operator within a country. Together, the MCC and MNC form a unique identifier for cellular networks, allowing devices to connect to the correct local network and ensuring proper routing of communications, especially in international roaming scenarios."
													},
													"msin": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "string",
																"properties": {},
																"pattern": "^[0-9]{10}$"
															}
														},
														"title": "MSIN",
														"description": "The MSIN (Mobile Subscription Identification Number) is a unique number typically consisting of 9 to 10 digits, representing an individual subscriber in a mobile network. It's the last part of the IMSI (International Mobile Subscriber Identity) and, when combined with the MCC (Mobile Country Code) and MNC (Mobile Network Code), creates a unique identifier for each mobile user globally. MSIN ensures individual subscribers are distinguished within a specific network operator's service."
													}
												},
												"title": "IMSI",
												"description": "The IMSI (International Mobile Subscriber Identity) is a unique number associated with every user of a cellular network. It's stored in the SIM card and used to identify the subscriber to the network for services like calls and SMS. Typically 15 digits long, the IMSI is a combination of MCC (mobile country code), MNC (mobile network code), and MSIN (mobile subscriber identification number)."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "Cellular Network",
								"description": "Parameters related to cellular network connectiviity."
							},
							"wmbus": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"signal": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"rssi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -128,
														"maximum": 0,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSSI",
												"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
											}
										},
										"title": "Signal",
										"description": "Parameters related to the strength and quality of a network signal."
									},
									"connection": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"status": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "enabled",
																"title": "Enabled",
																"description": "Network is enabled."
															},
															{
																"const": "disabled",
																"title": "Disabled",
																"description": "Network is disabled."
															}
														]
													}
												},
												"title": "Status",
												"description": "The connection status refers to whether or not a connection is enabled."
											},
											"mode": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"oneOf": [
															{
																"const": "s1",
																"title": "Mode S1",
																"description": "One-way communication for static meters, standard data transmission."
															},
															{
																"const": "s2",
																"title": "Mode S2",
																"description": "Two-way communication for static meters."
															},
															{
																"const": "t1",
																"title": "Mode T1",
																"description": "One-way communication for frequent data transmission, often used for heat meters."
															},
															{
																"const": "t2",
																"title": "Mode T2",
																"description": "Two-way communication for frequent data transmission."
															},
															{
																"const": "c1",
																"title": "Mode C1",
																"description": "Compact mode, one-way communication, designed for low-cost meters."
															}
														]
													}
												},
												"title": "Mode",
												"description": "wM-Bus modes define specific communication patterns:\n- Mode S (Stationary mode) provides a data rate of 16.384 bit/s at a greater communication distance than Mode T. Optimized for low power. Intended for meters that are read out less frequently. Primarily initiated by reader.\n- Mode T (Transmit frequently) provides a data rate of 66.667 bit/s. This is approximately four times higher than Mode S and for a given battery size allows more frequent transmissions without decreasing battery lifetime or increasing collision rate. \n- Mode C (data rate 50.000 resp. 100.000 bit/s) combines the advantages of Mode S and Mode T. It has a more compact data format and therefore allows transmission of more data within the same energy budget and with the same duty cycle."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "Wireless M-Bus",
								"description": "Wireless M-Bus (Wireless Meter-Bus) is a standard (EN 13757-4) primarily adopted in Europe for wireless meter reading in utility sectors. Designed for communication with gas, water, and electricity meters, it operates in various frequency bands: 868 MHz in Europe, 169 MHz for specific regions in Europe, and other frequencies such as 433 MHz and 915 MHz in different parts of the world. With modest data rates suited for periodic meter readings, it ensures reliable data transmission even in challenging environments, such as basements or utility pits."
							},
							"lora": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"signal": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"rssi": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": 0,
														"maximum": -256,
														"description": "\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt."
													}
												},
												"title": "RSSI",
												"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
											},
											"snr": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": -64,
														"maximum": 64,
														"description": "\n> **Unit:** \n>\n>Decibel (dB)\n>\n>Signal quality and clarity in a wireless network quantified in dB (decibels) on a logarithmic scale."
													}
												},
												"title": "SNR (Signal-to-Noise Ratio)",
												"description": "SNR quantifies the clarity of a signal against the background noise, expressed in decibels (dB). In LoRaWAN networks, a higher SNR indicates a clearer signal, allowing for reliable data transmission. Given LoRa's resilience, it can operate effectively even at negative SNRs, but a better SNR typically means fewer transmission errors and retransmissions."
											}
										},
										"title": "Signal",
										"description": "Parameters related to the strength and quality of a network signal."
									},
									"connection": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"dev_addr": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"pattern": "^(?:[0-9A-Fa-f]{2}([-:]))(?:[0-9A-Fa-f]{2}\\1){2}[0-9A-Fa-f]{2}$"
													}
												},
												"title": "Device Address",
												"description": "A network-specific address assigned to the device after it joins the network. It's a shorter form of addressing the device in the network and is not globally unique. Typically represented as 8 hexadecimal characters."
											},
											"app_eui": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "string",
														"properties": {},
														"pattern": "^(?:[0-9A-Fa-f]{2}([-:]))(?:[0-9A-Fa-f]{2}\\1){6}[0-9A-Fa-f]{2}$"
													}
												},
												"title": "Application EUI (Extended Unique Identifier)",
												"description": "A globally unique identifier for the application. It helps in identifying which application on the network server the device wants to join. Typically represented as 16 hexadecimal characters."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "LoRa",
								"description": "LoRa (Long Range) is a low-power wide-area (LPWA) modulation technology optimized for long-distance communication with minimal power consumption. Designed for IoT applications, LoRa operates at different regional frequencies, including 868 MHz in Europe, 915 MHz in North America, and 433 MHz in parts of Asia. With extended coverage even in challenging environments and modest data rates, it's ideal for applications like remote sensing, metering and asset tracking."
							},
							"modbus": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"connecton": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"device_id": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": 1,
														"maximum": 247
													}
												},
												"title": "Device ID",
												"description": "A unique identifier for a Modbus device within a network, typically between 1 and 247."
											},
											"tcp": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"ip_address": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "string",
																"properties": {},
																"anyOf": [
																	{
																		"format": "ipv4"
																	},
																	{
																		"format": "ipv6"
																	}
																]
															}
														},
														"title": "IP Address",
														"description": "An identifier for a Modbus TCP device on a network."
													},
													"port_number": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"minimum": 1,
																"maximum": 65535
															}
														},
														"title": "Port Number",
														"description": "Port on which the Modbus device is communicating, typically 502."
													}
												},
												"title": "TCP",
												"description": "Parameters related to TCP Modbus connection."
											},
											"rtu": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"baud_rate": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"multipleOf": 8
															}
														},
														"title": "Baud Rate",
														"description": "The data transmission speed for Modbus RTU, in bits per second."
													},
													"parity": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "string",
																"properties": {},
																"oneOf": [
																	{
																		"const": "even",
																		"title": "Even",
																		"description": "Parity check: even"
																	},
																	{
																		"const": "odd",
																		"title": "Odd",
																		"description": "Parity check: odd"
																	},
																	{
																		"const": "none",
																		"title": "None",
																		"description": "Parity check: none"
																	}
																]
															}
														},
														"title": "Parity",
														"description": "Error-checking mechanism in Modbus RTU, set as even, odd, or none."
													},
													"stop_bits": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"minimum": 1,
																"maximum": 4
															}
														},
														"title": "Stop Bits",
														"description": "Signals the end of data in Modbus RTU, usually 1 or 2."
													}
												},
												"title": "RTU (Remote Terminal Unit)",
												"description": "Serial communication parameters related to an RTU Modbus connection."
											}
										},
										"title": "Connection",
										"description": "Parameters related to the status and configuration of a network connection."
									}
								},
								"title": "Modbus",
								"description": "Modbus is a communication protocol for transmitting information between electronic devices. It operates in TCP mode for networked connections using Ethernet, and in RTU mode for serial communication over RS-485 or RS-232. Widely used in industrial settings, Modbus enables interaction among various devices like sensors, controllers, and actuators."
							}
						},
						"title": "Network",
						"description": "Parameters related to connectivity and network protocols."
					},
					"electrical": {
						"type": "object",
						"additionalProperties": false,
						"properties": {
							"ac": {
								"type": "object",
								"additionalProperties": false,
								"properties": {
									"frequency": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"value": {
												"type": "integer",
												"properties": {},
												"minimum": 0,
												"maximum": 100000,
												"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
											},
											"value_stats": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"interval": {
														"type": "integer",
														"minimum": 0,
														"maximum": 86400,
														"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
													},
													"mean": {
														"type": "integer",
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													},
													"median": {
														"type": "integer",
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													},
													"min": {
														"type": "integer",
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													},
													"max": {
														"type": "integer",
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													},
													"std_dev": {
														"type": "integer",
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													}
												}
											},
											"nominal": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"oneOf": [
															{
																"const": 50000,
																"title": "50 Hz Grid",
																"description": "Grid frequency in most of Europe, Asia, Africa, Australia, and parts of South America."
															},
															{
																"const": 60000,
																"title": "60 Hz Grid",
																"description": "Grid frequency in North America, parts of South America, Japan, South Korea, the Philippines, and a few other territories."
															}
														],
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													}
												},
												"title": "Nominal",
												"description": "The standard frequency at which the electrical grid is designed to operate, typically 50 Hz or 60 Hz in various regions."
											},
											"range": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"minimum": 0,
														"maximum": 100000,
														"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
													}
												},
												"title": "Nominal Range",
												"description": "The continuous frequency range equally above and below the designated grid nominal frequency. A value of 500 mHz would imply a 49.5 to 50.5 Hz nominal range (for a 50 Hz system)."
											},
											"transient": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"min": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"minimum": 0,
																"maximum": 100000,
																"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
															},
															"value_stats": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"interval": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 86400,
																		"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																	},
																	"mean": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"median": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"min": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"max": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"std_dev": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	}
																}
															}
														},
														"title": "Minimum",
														"description": "The lowest transient value within a 1-second timeframe."
													},
													"max": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"minimum": 0,
																"maximum": 100000,
																"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
															},
															"value_stats": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"interval": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 86400,
																		"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																	},
																	"mean": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"median": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"min": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"max": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"std_dev": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	}
																}
															}
														},
														"title": "Maximum",
														"description": "The highest transient value within a 1-second timeframe."
													},
													"std_dev": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"value": {
																"type": "integer",
																"properties": {},
																"minimum": 0,
																"maximum": 100000,
																"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
															},
															"value_stats": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"interval": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 86400,
																		"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																	},
																	"mean": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"median": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"min": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"max": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	},
																	"std_dev": {
																		"type": "integer",
																		"minimum": 0,
																		"maximum": 100000,
																		"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																	}
																}
															}
														},
														"title": "Standard Deviation",
														"description": "The measure of dispersion in transient values within a 1-second timeframe, indicating how much they deviate from the mean."
													}
												},
												"title": "Transient",
												"description": "Transient values in grid frequency at 200ms intervals correspond to 10 cycles in a 50 Hz system and 12 cycles in a 60 Hz system. These brief deviations are vital for electrical grid stability."
											}
										},
										"title": "Frequency",
										"description": "The number of cycles per second in an alternating current (AC) system, measured in Hertz (Hz)."
									},
									"voltage": {
										"type": "object",
										"additionalProperties": false,
										"properties": {
											"nominal": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"value": {
														"type": "integer",
														"properties": {},
														"oneOf": [
															{
																"const": 120000,
																"title": "120V (1-phase, L-N)",
																"description": "Single-phase, line-neutral. Typically used for residential and light commercial applications in North America."
															},
															{
																"const": 230000,
																"title": "230V (1-phase, L-N)",
																"description": "Single-phase, line-neutral. Typically used for residential and light commercial applications in Europe."
															},
															{
																"const": 208000,
																"title": "208V (3-phase, L-L)",
																"description": "Three-phase, line-line. Commonly used for commercial and industrial applications in North America; 120V when measured line-neutral."
															},
															{
																"const": 380000,
																"title": "380V (3-phase, L-L)",
																"description": "Three-phase, line-line system commonly used for commercial and industrial applications in Asia and Africa; 220V when measured line-neutral."
															},
															{
																"const": 400000,
																"title": "400V (3-phase, L-L)",
																"description": "Three-phase, line-line. Commonly used for commercial and industrial applications in Europe; 230V when measured line-neutral."
															},
															{
																"const": 415000,
																"title": "415V (3-phase, L-L)",
																"description": "Three-phase, line-line. Commonly used for commercial and industrial applications in the UK and Australia; 240V when measured line-neutral."
															},
															{
																"const": 480000,
																"title": "480V (3-phase, L-L)",
																"description": "Three-phase, line-line system commonly used for commercial and industrial applications in North America; 277V when measured line-neutral."
															}
														],
														"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
													}
												},
												"title": "Nominal",
												"description": "Nominal voltage refers to the standard voltage level defined for single or three-phase systems, typically expressed in root mean square (RMS) terms. It represents the voltage that the system is designed to operate at under normal conditions."
											},
											"phases": {
												"type": "object",
												"additionalProperties": false,
												"properties": {
													"{phase}": {
														"type": "object",
														"additionalProperties": false,
														"properties": {
															"rms": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"value": {
																		"type": "integer",
																		"properties": {},
																		"minimum": 0,
																		"maximum": 10000000,
																		"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																	},
																	"value_stats": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"interval": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 86400,
																				"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																			},
																			"mean": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"median": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"min": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"max": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"std_dev": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			}
																		}
																	}
																},
																"title": "RMS",
																"description": "Voltage RMS (Root Mean Square), the square root of the arithmetic mean of the squared values of a periodic waveform. It represents the effective value of voltage in an AC system."
															},
															"waveform_peak": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"value": {
																		"type": "integer",
																		"properties": {},
																		"minimum": 0,
																		"maximum": 10000000,
																		"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																	},
																	"value_stats": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"interval": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 86400,
																				"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																			},
																			"mean": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"median": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"min": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"max": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			},
																			"std_dev": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			}
																		}
																	}
																},
																"title": "Waveform Peak",
																"description": "Maximum value of the voltage within individual cycles during a 1-second timeframe. In a 230V AC line, the nominal peak voltage may reach 325 V."
															},
															"crest_factor": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"value": {
																		"type": "integer",
																		"properties": {},
																		"minimum": 0,
																		"maximum": 10000000,
																		"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																	},
																	"value_stats": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"interval": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 86400,
																				"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																			},
																			"mean": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																			},
																			"median": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																			},
																			"min": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																			},
																			"max": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																			},
																			"std_dev": {
																				"type": "integer",
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Crest factor (CF)\n>\n>Crest factor is a dimensionless ratio between the peak and RMS values of a waveform."
																			}
																		}
																	}
																},
																"title": "Crest Factor",
																"description": "Ratio of the peak value to the RMS value of a waveform. A pure sine wave has a crest factor of 1.414."
															},
															"dips_swells": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"reference": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"value": {
																				"type": "integer",
																				"properties": {},
																				"minimum": 0,
																				"maximum": 10000000,
																				"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																			}
																		},
																		"title": "Reference",
																		"description": "The reference voltage for determining dips and swells. Typically the nominal grid voltage."
																	},
																	"limits": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"threshold": {
																				"type": "object",
																				"additionalProperties": false,
																				"properties": {
																					"upper": {
																						"type": "object",
																						"additionalProperties": false,
																						"properties": {
																							"value": {
																								"type": "integer",
																								"properties": {},
																								"minimum": 0,
																								"maximum": 1000,
																								"description": "\n> **Unit:** \n>\n>Percent (%)\n>\n>Percentage (%) limit in relation to the reference."
																							}
																						},
																						"title": "Upper",
																						"description": "Upper limit of the threshold. For example, at 110%, a swell event will trigger above 253V on a 230V reference."
																					},
																					"lower": {
																						"type": "object",
																						"additionalProperties": false,
																						"properties": {
																							"value": {
																								"type": "integer",
																								"properties": {},
																								"minimum": 0,
																								"maximum": 1000,
																								"description": "\n> **Unit:** \n>\n>Percent (%)\n>\n>Percentage (%) limit in relation to the reference."
																							}
																						},
																						"title": "Lower",
																						"description": "Lower limit of the threshold. For example, at 90%, a dip event will trigger below 207V on a 230V reference."
																					}
																				},
																				"title": "Threshold (trigger on)",
																				"description": "Trigger point for determining a dip or swell."
																			},
																			"hysteresis": {
																				"type": "object",
																				"additionalProperties": false,
																				"properties": {
																					"upper": {
																						"type": "object",
																						"additionalProperties": false,
																						"properties": {
																							"value": {
																								"type": "integer",
																								"properties": {},
																								"minimum": 0,
																								"maximum": 1000,
																								"description": "\n> **Unit:** \n>\n>Percent (%)\n>\n>Percentage (%) limit in relation to the reference."
																							}
																						},
																						"title": "Upper",
																						"description": "Upper limit of the hysteresis. For example, at 105%, the swell event will trigger off once below 241.5V on a 230V reference."
																					},
																					"lower": {
																						"type": "object",
																						"additionalProperties": false,
																						"properties": {
																							"value": {
																								"type": "integer",
																								"properties": {},
																								"minimum": 0,
																								"maximum": 1000,
																								"description": "\n> **Unit:** \n>\n>Percent (%)\n>\n>Percentage (%) limit in relation to the reference."
																							}
																						},
																						"title": "Lower",
																						"description": "Lower limit of the hysteresis. For example, at 95%, the dip event will trigger off once above 218.5V on a 230V reference."
																					}
																				},
																				"title": "Hysteresis (trigger off)",
																				"description": "Tolerance within which voltage can fluctuate without triggering a new event. Reentering this range triggers off a dip or swell event."
																			}
																		},
																		"title": "Limits",
																		"description": "Prescribed bounds for acceptable voltage variations."
																	},
																	"event": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"value": {
																				"type": "object",
																				"additionalProperties": false,
																				"properties": {
																					"start_time": {
																						"type": "integer",
																						"description": "The Unix epoch (or Unix time or POSIX time or Unix timestamp) is the number of seconds that have elapsed since January 1, 1970 (midnight UTC/GMT)."
																					},
																					"duration": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 86400,
																						"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																					},
																					"magnitude": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000000,
																						"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																					}
																				}
																			}
																		},
																		"title": "Event",
																		"description": "Specific instance of a dip or swell in voltage."
																	}
																},
																"title": "Dips and Swells",
																"description": "Short-term changes in voltage level, below or above the normal. For example, a dip to 180V or a swell to 260V on a 230V line."
															},
															"thd": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"rms": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"value": {
																				"type": "integer",
																				"properties": {},
																				"minimum": 0,
																				"maximum": 100,
																				"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																			},
																			"value_stats": {
																				"type": "object",
																				"additionalProperties": false,
																				"properties": {
																					"interval": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 86400,
																						"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																					},
																					"mean": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 100,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																					},
																					"median": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 100,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																					},
																					"min": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 100,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																					},
																					"max": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 100,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																					},
																					"std_dev": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 100,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDr)\n>\n>THD relative to RMS voltage, expressed as a percentage, denoted as % THDr."
																					}
																				}
																			}
																		},
																		"title": "Relative to RMS",
																		"description": "THD-V based on RMS. Indicates quality of voltage. High values can affect sensitive equipment."
																	},
																	"fundamental": {
																		"type": "object",
																		"additionalProperties": false,
																		"properties": {
																			"value": {
																				"type": "integer",
																				"properties": {},
																				"minimum": 0,
																				"maximum": 10000,
																				"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																			},
																			"value_stats": {
																				"type": "object",
																				"additionalProperties": false,
																				"properties": {
																					"interval": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 86400,
																						"description": "\n> **Unit:** \n>\n>Second (s)\n>\n>Interval duration measured in seconds."
																					},
																					"mean": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																					},
																					"median": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																					},
																					"min": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																					},
																					"max": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																					},
																					"std_dev": {
																						"type": "integer",
																						"minimum": 0,
																						"maximum": 10000,
																						"description": "\n> **Unit:** \n>\n>Percent (% THDf)\n>\n>THD relative to the fundamental frequency, expressed as a percentage, denoted as % THDf."
																					}
																				}
																			}
																		},
																		"title": "Relative to Fundamental",
																		"description": "THD-V based on Fundamental frequency. Focuses on distortion from base AC frequency. Useful for filtering decisions."
																	}
																},
																"title": "THD-V",
																"description": "THD-V (Total Harmonic Distortion in Voltage) measures how much voltage waveform deviates from a pure sine wave. High levels usually originate from supply distortions or nonlinear loads. Can affect sensitive devices."
															},
															"spectrum": {
																"type": "object",
																"additionalProperties": false,
																"properties": {
																	"value": {
																		"type": "array",
																		"items": {
																			"type": "object",
																			"additionalProperties": false,
																			"properties": {
																				"centroid": {
																					"type": "integer",
																					"minimum": 0,
																					"maximum": 1000000000,
																					"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																				},
																				"range": {
																					"type": "integer",
																					"minimum": 0,
																					"maximum": 100000,
																					"description": "\n> **Unit:** \n>\n>Hertz (Hz)\n>\n>Hertz (Hz) measures the frequency of oscillationin the electrical grid, indicating the number of cycles per second. In standard systems, common frequencies are 50 Hz or 60 Hz."
																				},
																				"magnitude": {
																					"type": "integer",
																					"minimum": 0,
																					"maximum": 10000000,
																					"description": "\n> **Unit:** \n>\n>Volt (V)\n>\n>Volt (V) is a unit of electric potential difference between two points in an AC circuit."
																				}
																			}
																		}
																	}
																},
																"title": "Spectrum",
																"description": "Representation of voltage RMS in the frequency domain, showing distribution across various frequency components."
															}
														}
													}
												},
												"title": "Phase",
												"description": "A voltage phase refers to one of the three AC voltage waveforms (L1, L2, L3) generated 120 degrees apart. All phase parameters are measured relative to neutral (L-N)."
											},
											"unbalance_factor": {
[...]
