{
	"openapi": "3.1.0",
	"info": {
		"title": "Linc",
		"summary": "Some Summary",
		"description": "Some description",
		"termsOfService": "http://www.linc.world/terms/",
		"contact": {
			"name": "Linc",
			"url": "http://www.linc.world/contact/",
			"email": "team@linc.world"
		},
		"license": {
			"name": "AGPL-3.0",
			"identifier": "(AGPL-3.0+)"
		},
		"version": "1.0.0"
	},
	"externalDocs": {
		"description": "Find out more about Linc",
		"url": "https://www.linc.world/developer/"
	},
	"servers": [
		{
			"url": "https://api.linc.world/v1/tools"
		}
	],
	"tags": [],
	"webhooks": {},
	"paths": {
		"/{organisation_id}/nodes": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_links": {
											"type": "object",
											"properties": {
												"self": {
													"type": "string",
													"format": "uri",
													"examples": [
														"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes"
													]
												}
											}
										},
										"response": {
											"type": "object",
											"name": "List all nodes",
											"description": "List of nodes you have access to",
											"patternProperties": {
												"^[123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{1}[0123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{3,5}$": {
													"type": "string",
													"format": "uri",
													"examples": [
														"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/{node_id}"
													]
												}
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "List all nodes",
				"description": "List of nodes you have access to"
			}
		},
		"/{organisation_id}/nodes/{node_id}": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_links": {
											"type": "object",
											"properties": {
												"self": {
													"type": "string",
													"format": "uri",
													"examples": [
														"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004"
													]
												}
											}
										},
										"response": {
											"oneOf": [
												{
													"type": "object",
													"properties": {
														"device": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device"
															]
														},
														"network": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network"
															]
														},
														"channels": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/channels"
															]
														}
													},
													"name": "Environmental 4-channel",
													"description": "abc",
													"additionalProperties": false
												},
												{
													"type": "object",
													"properties": {
														"device": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device"
															]
														},
														"network": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network"
															]
														},
														"electrical": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/electrical"
															]
														}
													},
													"name": "Electrical 16-channel",
													"description": "abc",
													"additionalProperties": false
												}
											],
											"name": "Nodes"
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Nodes"
			}
		},
		"/{organisation_id}/nodes/{node_id}/device": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"linc": {
															"type": "object",
															"properties": {
																"label": {
																	"name": "Label",
																	"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
																	"type": "string",
																	"minLength": 1,
																	"maxLength": 32,
																	"example": "Main electrical panel"
																},
																"model": {
																	"name": "Model",
																	"description": "Type and variant of a Linc node, indicating its capabilities and features.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "env_4ch",
																			"name": "Environmental",
																			"description": "Linc Environmental Node"
																		}
																	]
																},
																"hw_version": {
																	"name": "Hardware Version",
																	"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations.",
																	"type": "string",
																	"example": "v1.0.3"
																},
																"fw_version": {
																	"name": "Firmware Version",
																	"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes.",
																	"type": "string",
																	"example": "v2.1.3"
																},
																"dataplan": {
																	"type": "object",
																	"properties": {
																		"reporting_interval": {
																			"name": "Reporting Interval",
																			"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
																			"type": "integer",
																			"oneOf": [
																				{
																					"const": 60,
																					"name": "1 minute",
																					"description": "Data is reported to server at 1 minute intervals."
																				}
																			],
																			"default": 60
																		},
																		"mode": {
																			"name": "Mode",
																			"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
																			"type": "string",
																			"oneOf": [
																				{
																					"const": "platform",
																					"name": "Platform",
																					"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																				},
																				{
																					"const": "relay",
																					"name": "Relay",
																					"description": "Data access only via API or MQTT channels for third-party storage and processing."
																				},
																				{
																					"const": "local",
																					"name": "Local",
																					"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																				}
																			],
																			"default": "platform"
																		}
																	},
																	"additionalProperties": false,
																	"name": "Dataplan",
																	"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
																}
															},
															"additionalProperties": false,
															"name": "Linc Node",
															"description": "Hardware related parameters for a Linc node."
														},
														"wifi": {
															"type": "object",
															"properties": {
																"mac_address": {
																	"name": "MAC Address",
																	"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned.",
																	"type": "string",
																	"example": "00:1A:2B:3C:4D:5E"
																}
															},
															"additionalProperties": false,
															"name": "Wi-Fi Module",
															"description": "Detailes related to the Wi-Fi module - a hardware component that allows devices to connect to Wi-Fi networks for wireless data communication using standards like 802.11b/g/n."
														}
													},
													"name": "Device",
													"description": "Parameters for identification, information and configuration of hardware devices."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"linc": {
															"type": "object",
															"properties": {
																"label": {
																	"name": "Label",
																	"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
																	"type": "string",
																	"minLength": 1,
																	"maxLength": 32,
																	"example": "Main electrical panel"
																},
																"model": {
																	"name": "Model",
																	"description": "Type and variant of a Linc node, indicating its capabilities and features.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "elec_16ch",
																			"name": "Electrical",
																			"description": "Linc Electrical Node"
																		}
																	]
																},
																"hw_version": {
																	"name": "Hardware Version",
																	"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations.",
																	"type": "string",
																	"example": "v1.0.3"
																},
																"fw_version": {
																	"name": "Firmware Version",
																	"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes.",
																	"type": "string",
																	"example": "v2.1.3"
																},
																"dataplan": {
																	"type": "object",
																	"properties": {
																		"reporting_interval": {
																			"name": "Reporting Interval",
																			"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
																			"type": "integer",
																			"oneOf": [
																				{
																					"const": 1,
																					"name": "1 second",
																					"description": "Data is reported to server at 1 second intervals."
																				},
																				{
																					"const": 60,
																					"name": "1 minute",
																					"description": "Data is reported to server at 1 minute intervals."
																				}
																			],
																			"default": 1
																		},
																		"mode": {
																			"name": "Mode",
																			"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
																			"type": "string",
																			"oneOf": [
																				{
																					"const": "platform",
																					"name": "Platform",
																					"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																				},
																				{
																					"const": "relay",
																					"name": "Relay",
																					"description": "Data access only via API or MQTT channels for third-party storage and processing."
																				},
																				{
																					"const": "local",
																					"name": "Local",
																					"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																				}
																			],
																			"default": "platform"
																		}
																	},
																	"additionalProperties": false,
																	"name": "Dataplan",
																	"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
																}
															},
															"additionalProperties": false,
															"name": "Linc Node",
															"description": "Hardware related parameters for a Linc node."
														},
														"wifi": {
															"type": "object",
															"properties": {
																"mac_address": {
																	"name": "MAC Address",
																	"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned.",
																	"type": "string",
																	"example": "00:1A:2B:3C:4D:5E"
																}
															},
															"additionalProperties": false,
															"name": "Wi-Fi Module",
															"description": "Detailes related to the Wi-Fi module - a hardware component that allows devices to connect to Wi-Fi networks for wireless data communication using standards like 802.11b/g/n."
														},
														"cellular": {
															"type": "object",
															"properties": {
																"model": {
																	"name": "Model",
																	"description": "The model of a cellular module refers to its distinct version in terms of features, capabilities, and cellular compatibility.",
																	"type": "string",
																	"minLength": 1,
																	"maxLength": 24,
																	"example": "BG95-M3LA"
																},
																"serial": {
																	"name": "Serial",
																	"description": "A serial number is a unique identifier assigned by the manufacturer to a cellular module. It helps in tracking, service support, and verifying authenticity.",
																	"type": "string",
																	"minLength": 1,
																	"maxLength": 24,
																	"example": "834627239"
																},
																"fw_version": {
																	"name": "Firmware Version",
																	"description": "The firmware version of a cellular module represents its embedded software state, dictating functionalities and network compatibility. Updates can introduce new features or fixes. Identifying the version aids in troubleshooting.",
																	"type": "string",
																	"example": "v2.1.3"
																},
																"imei": {
																	"name": "IMEI",
																	"description": "The IMEI (International Mobile Equipment Identity) is a unique 15-digit number assigned to mobile devices, such as smartphones and tablets. It serves as an identifier for the device and can be used by cellular networks to authenticate the device and permit or deny its access to the network. IMEI is essential for tracking and blacklisting stolen devices, ensuring they cannot be used on any network, even if the SIM card is replaced.",
																	"type": "string",
																	"example": "123456789012345",
																	"pattern": "^[0-9]{15,17}$"
																}
															},
															"additionalProperties": false,
															"name": "Cellular Module",
															"description": "Details related to a cellular module - a hardware component that connects devices to cellular networks for wireless data transmission using standards like 4G (LTE) and 5G."
														}
													},
													"name": "Device",
													"description": "Parameters for identification, information and configuration of hardware devices."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Device",
				"description": "Parameters for identification, information and configuration of hardware devices."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"label": {
															"name": "Label",
															"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
															"type": "string",
															"minLength": 1,
															"maxLength": 32,
															"example": "Main electrical panel"
														},
														"model": {
															"name": "Model",
															"description": "Type and variant of a Linc node, indicating its capabilities and features.",
															"type": "string",
															"oneOf": [
																{
																	"const": "env_4ch",
																	"name": "Environmental",
																	"description": "Linc Environmental Node"
																}
															]
														},
														"hw_version": {
															"name": "Hardware Version",
															"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations.",
															"type": "string",
															"example": "v1.0.3"
														},
														"fw_version": {
															"name": "Firmware Version",
															"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes.",
															"type": "string",
															"example": "v2.1.3"
														},
														"dataplan": {
															"type": "object",
															"properties": {
																"reporting_interval": {
																	"name": "Reporting Interval",
																	"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
																	"type": "integer",
																	"oneOf": [
																		{
																			"const": 60,
																			"name": "1 minute",
																			"description": "Data is reported to server at 1 minute intervals."
																		}
																	],
																	"default": 60
																},
																"mode": {
																	"name": "Mode",
																	"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "platform",
																			"name": "Platform",
																			"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																		},
																		{
																			"const": "relay",
																			"name": "Relay",
																			"description": "Data access only via API or MQTT channels for third-party storage and processing."
																		},
																		{
																			"const": "local",
																			"name": "Local",
																			"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																		}
																	],
																	"default": "platform"
																}
															},
															"additionalProperties": false,
															"name": "Dataplan",
															"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
														}
													},
													"name": "Linc Node",
													"description": "Hardware related parameters for a Linc node."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"label": {
															"name": "Label",
															"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
															"type": "string",
															"minLength": 1,
															"maxLength": 32,
															"example": "Main electrical panel"
														},
														"model": {
															"name": "Model",
															"description": "Type and variant of a Linc node, indicating its capabilities and features.",
															"type": "string",
															"oneOf": [
																{
																	"const": "elec_16ch",
																	"name": "Electrical",
																	"description": "Linc Electrical Node"
																}
															]
														},
														"hw_version": {
															"name": "Hardware Version",
															"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations.",
															"type": "string",
															"example": "v1.0.3"
														},
														"fw_version": {
															"name": "Firmware Version",
															"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes.",
															"type": "string",
															"example": "v2.1.3"
														},
														"dataplan": {
															"type": "object",
															"properties": {
																"reporting_interval": {
																	"name": "Reporting Interval",
																	"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
																	"type": "integer",
																	"oneOf": [
																		{
																			"const": 1,
																			"name": "1 second",
																			"description": "Data is reported to server at 1 second intervals."
																		},
																		{
																			"const": 60,
																			"name": "1 minute",
																			"description": "Data is reported to server at 1 minute intervals."
																		}
																	],
																	"default": 1
																},
																"mode": {
																	"name": "Mode",
																	"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "platform",
																			"name": "Platform",
																			"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																		},
																		{
																			"const": "relay",
																			"name": "Relay",
																			"description": "Data access only via API or MQTT channels for third-party storage and processing."
																		},
																		{
																			"const": "local",
																			"name": "Local",
																			"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																		}
																	],
																	"default": "platform"
																}
															},
															"additionalProperties": false,
															"name": "Dataplan",
															"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
														}
													},
													"name": "Linc Node",
													"description": "Hardware related parameters for a Linc node."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Linc Node",
				"description": "Hardware related parameters for a Linc node."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/label": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/label"
															]
														}
													}
												},
												"response": {
													"name": "Label",
													"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
													"type": "string",
													"minLength": 1,
													"maxLength": 32,
													"example": "Main electrical panel"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Label",
				"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network."
			},
			"patch": {
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"tags": [
					"active"
				],
				"summary": "Label",
				"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/label"
															]
														}
													}
												},
												"response": {
													"name": "Label",
													"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
													"type": "string",
													"minLength": 1,
													"maxLength": 32,
													"example": "Main electrical panel"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"requestBody": {
					"description": "Success",
					"content": {
						"application/json": {
							"schema": {
								"name": "Label",
								"description": "User-specified name or identifier for a Linc node, allowing for easy differentiation  within a system or network.",
								"type": "string",
								"minLength": 1,
								"maxLength": 32,
								"example": "Main electrical panel"
							}
						}
					}
				}
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/model": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/model"
															]
														}
													}
												},
												"response": {
													"name": "Model",
													"description": "Type and variant of a Linc node, indicating its capabilities and features.",
													"type": "string",
													"oneOf": [
														{
															"const": "env_4ch",
															"name": "Environmental",
															"description": "Linc Environmental Node"
														}
													]
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/model"
															]
														}
													}
												},
												"response": {
													"name": "Model",
													"description": "Type and variant of a Linc node, indicating its capabilities and features.",
													"type": "string",
													"oneOf": [
														{
															"const": "elec_16ch",
															"name": "Electrical",
															"description": "Linc Electrical Node"
														}
													]
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Model",
				"description": "Type and variant of a Linc node, indicating its capabilities and features."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/hw_version": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/hw_version"
															]
														}
													}
												},
												"response": {
													"name": "Hardware Version",
													"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations.",
													"type": "string",
													"example": "v1.0.3"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Hardware Version",
				"description": "The version number corresponding to physical components and design of a Linc node. This helps in identifying different production runs or hardware iterations."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/fw_version": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/fw_version"
															]
														}
													}
												},
												"response": {
													"name": "Firmware Version",
													"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes.",
													"type": "string",
													"example": "v2.1.3"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Firmware Version",
				"description": "The software revision number associated with a Linc node, reflecting updates, enhancements, or fixes."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/dataplan": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"reporting_interval": {
															"name": "Reporting Interval",
															"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
															"type": "integer",
															"oneOf": [
																{
																	"const": 60,
																	"name": "1 minute",
																	"description": "Data is reported to server at 1 minute intervals."
																}
															],
															"default": 60
														},
														"mode": {
															"name": "Mode",
															"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
															"type": "string",
															"oneOf": [
																{
																	"const": "platform",
																	"name": "Platform",
																	"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																},
																{
																	"const": "relay",
																	"name": "Relay",
																	"description": "Data access only via API or MQTT channels for third-party storage and processing."
																},
																{
																	"const": "local",
																	"name": "Local",
																	"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																}
															],
															"default": "platform"
														}
													},
													"name": "Dataplan",
													"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"reporting_interval": {
															"name": "Reporting Interval",
															"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
															"type": "integer",
															"oneOf": [
																{
																	"const": 1,
																	"name": "1 second",
																	"description": "Data is reported to server at 1 second intervals."
																},
																{
																	"const": 60,
																	"name": "1 minute",
																	"description": "Data is reported to server at 1 minute intervals."
																}
															],
															"default": 1
														},
														"mode": {
															"name": "Mode",
															"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
															"type": "string",
															"oneOf": [
																{
																	"const": "platform",
																	"name": "Platform",
																	"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																},
																{
																	"const": "relay",
																	"name": "Relay",
																	"description": "Data access only via API or MQTT channels for third-party storage and processing."
																},
																{
																	"const": "local",
																	"name": "Local",
																	"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																}
															],
															"default": "platform"
														}
													},
													"name": "Dataplan",
													"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Dataplan",
				"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
			},
			"patch": {
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"tags": [
					"active"
				],
				"summary": "Dataplan",
				"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"reporting_interval": {
															"name": "Reporting Interval",
															"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
															"type": "integer",
															"oneOf": [
																{
																	"const": 60,
																	"name": "1 minute",
																	"description": "Data is reported to server at 1 minute intervals."
																}
															],
															"default": 60
														},
														"mode": {
															"name": "Mode",
															"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
															"type": "string",
															"oneOf": [
																{
																	"const": "platform",
																	"name": "Platform",
																	"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																},
																{
																	"const": "relay",
																	"name": "Relay",
																	"description": "Data access only via API or MQTT channels for third-party storage and processing."
																},
																{
																	"const": "local",
																	"name": "Local",
																	"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																}
															],
															"default": "platform"
														}
													},
													"name": "Dataplan",
													"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"reporting_interval": {
															"name": "Reporting Interval",
															"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
															"type": "integer",
															"oneOf": [
																{
																	"const": 1,
																	"name": "1 second",
																	"description": "Data is reported to server at 1 second intervals."
																},
																{
																	"const": 60,
																	"name": "1 minute",
																	"description": "Data is reported to server at 1 minute intervals."
																}
															],
															"default": 1
														},
														"mode": {
															"name": "Mode",
															"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
															"type": "string",
															"oneOf": [
																{
																	"const": "platform",
																	"name": "Platform",
																	"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
																},
																{
																	"const": "relay",
																	"name": "Relay",
																	"description": "Data access only via API or MQTT channels for third-party storage and processing."
																},
																{
																	"const": "local",
																	"name": "Local",
																	"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
																}
															],
															"default": "platform"
														}
													},
													"name": "Dataplan",
													"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"requestBody": {
					"description": "Success",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"reporting_interval": {
										"name": "Reporting Interval",
										"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
										"type": "integer",
										"oneOf": [
											{
												"const": 60,
												"name": "1 minute",
												"description": "Data is reported to server at 1 minute intervals."
											}
										],
										"default": 60
									},
									"mode": {
										"name": "Mode",
										"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
										"type": "string",
										"oneOf": [
											{
												"const": "platform",
												"name": "Platform",
												"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
											},
											{
												"const": "relay",
												"name": "Relay",
												"description": "Data access only via API or MQTT channels for third-party storage and processing."
											},
											{
												"const": "local",
												"name": "Local",
												"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
											}
										],
										"default": "platform"
									}
								},
								"name": "Dataplan",
								"description": "Settings and parameters that define how a Linc node communicates and transfers data, including factors like the frequency of transmissions, storage preferences, platform access and more."
							}
						}
					}
				}
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/dataplan/reporting_interval": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/reporting_interval"
															]
														}
													}
												},
												"response": {
													"name": "Reporting Interval",
													"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
													"type": "integer",
													"oneOf": [
														{
															"const": 60,
															"name": "1 minute",
															"description": "Data is reported to server at 1 minute intervals."
														}
													],
													"default": 60
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/reporting_interval"
															]
														}
													}
												},
												"response": {
													"name": "Reporting Interval",
													"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
													"type": "integer",
													"oneOf": [
														{
															"const": 1,
															"name": "1 second",
															"description": "Data is reported to server at 1 second intervals."
														},
														{
															"const": 60,
															"name": "1 minute",
															"description": "Data is reported to server at 1 minute intervals."
														}
													],
													"default": 1
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Reporting Interval",
				"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided."
			},
			"patch": {
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"tags": [
					"active"
				],
				"summary": "Reporting Interval",
				"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/reporting_interval"
															]
														}
													}
												},
												"response": {
													"name": "Reporting Interval",
													"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
													"type": "integer",
													"oneOf": [
														{
															"const": 60,
															"name": "1 minute",
															"description": "Data is reported to server at 1 minute intervals."
														}
													],
													"default": 60
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/reporting_interval"
															]
														}
													}
												},
												"response": {
													"name": "Reporting Interval",
													"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
													"type": "integer",
													"oneOf": [
														{
															"const": 1,
															"name": "1 second",
															"description": "Data is reported to server at 1 second intervals."
														},
														{
															"const": 60,
															"name": "1 minute",
															"description": "Data is reported to server at 1 minute intervals."
														}
													],
													"default": 1
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"requestBody": {
					"description": "Success",
					"content": {
						"application/json": {
							"schema": {
								"name": "Reporting Interval",
								"description": "The frequency at which a Linc node sends data, determining how often updates or readings are provided.\n\n> **Unit:** \n>\n>Second (s)\n>\n>Duration of reporting interval measured in seconds.",
								"type": "integer",
								"oneOf": [
									{
										"const": 60,
										"name": "1 minute",
										"description": "Data is reported to server at 1 minute intervals."
									}
								],
								"default": 60
							}
						}
					}
				}
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/linc/dataplan/mode": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/mode"
															]
														}
													}
												},
												"response": {
													"name": "Mode",
													"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
													"type": "string",
													"oneOf": [
														{
															"const": "platform",
															"name": "Platform",
															"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
														},
														{
															"const": "relay",
															"name": "Relay",
															"description": "Data access only via API or MQTT channels for third-party storage and processing."
														},
														{
															"const": "local",
															"name": "Local",
															"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
														}
													],
													"default": "platform"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Mode",
				"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs."
			},
			"patch": {
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"tags": [
					"active"
				],
				"summary": "Mode",
				"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/linc/dataplan/mode"
															]
														}
													}
												},
												"response": {
													"name": "Mode",
													"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
													"type": "string",
													"oneOf": [
														{
															"const": "platform",
															"name": "Platform",
															"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
														},
														{
															"const": "relay",
															"name": "Relay",
															"description": "Data access only via API or MQTT channels for third-party storage and processing."
														},
														{
															"const": "local",
															"name": "Local",
															"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
														}
													],
													"default": "platform"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"requestBody": {
					"description": "Success",
					"content": {
						"application/json": {
							"schema": {
								"name": "Mode",
								"description": "Choice of data handling strategy for a Linc node, influencing both how the data is processed and the associated costs.",
								"type": "string",
								"oneOf": [
									{
										"const": "platform",
										"name": "Platform",
										"description": "All collected data is stored, analysed, and visualised on the Linc platform, with full programmatic access through API and MQTT."
									},
									{
										"const": "relay",
										"name": "Relay",
										"description": "Data access only via API or MQTT channels for third-party storage and processing."
									},
									{
										"const": "local",
										"name": "Local",
										"description": "On-premise data handling via the local network. The node has no connection to the Linc server."
									}
								],
								"default": "platform"
							}
						}
					}
				}
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/wifi": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/wifi"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"mac_address": {
															"name": "MAC Address",
															"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned.",
															"type": "string",
															"example": "00:1A:2B:3C:4D:5E"
														}
													},
													"name": "Wi-Fi Module",
													"description": "Detailes related to the Wi-Fi module - a hardware component that allows devices to connect to Wi-Fi networks for wireless data communication using standards like 802.11b/g/n."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Wi-Fi Module",
				"description": "Detailes related to the Wi-Fi module - a hardware component that allows devices to connect to Wi-Fi networks for wireless data communication using standards like 802.11b/g/n."
			}
		},
		"/{organisation_id}/nodes/{node_id}/device/wifi/mac_address": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/device/wifi/mac_address"
															]
														}
													}
												},
												"response": {
													"name": "MAC Address",
													"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned.",
													"type": "string",
													"example": "00:1A:2B:3C:4D:5E"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "MAC Address",
				"description": "A MAC (Media Access Control) address is a unique identifier assigned to network interfaces for communications on a physical network segment. Typically consisting of six pairs of hexadecimal numbers, it's used to ensure devices on a local network can communicate with one another effectively. Unlike IP addresses which can change based on network settings, a device's MAC address is usually fixed and manufacturer-assigned."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"connectivity": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity"
															]
														},
														"wifi": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi"
															]
														},
														"linc_mesh": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh"
															]
														}
													},
													"name": "Network",
													"description": "Parameters related to connectivity and network protocols."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"connectivity": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity"
															]
														},
														"wifi": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi"
															]
														},
														"linc_mesh": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh"
															]
														},
														"cellular": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/cellular"
															]
														}
													},
													"name": "Network",
													"description": "Parameters related to connectivity and network protocols."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Network",
				"description": "Parameters related to connectivity and network protocols."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/connectivity": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"status": {
															"name": "Status",
															"description": "The connection status shows whether or not a device is currently online.",
															"type": "string",
															"oneOf": [
																{
																	"const": "online",
																	"name": "Online",
																	"description": "Device is connected to server."
																},
																{
																	"const": "offline",
																	"name": "Offline",
																	"description": "Device is disconnected from server."
																}
															]
														},
														"uptime": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity/uptime"
															]
														}
													},
													"name": "Connectivity",
													"description": "Parameters related to the status and stability of device connectivity to server."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Connectivity",
				"description": "Parameters related to the status and stability of device connectivity to server."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/connectivity/status": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity/status"
															]
														}
													}
												},
												"response": {
													"name": "Status",
													"description": "The connection status shows whether or not a device is currently online.",
													"type": "string",
													"oneOf": [
														{
															"const": "online",
															"name": "Online",
															"description": "Device is connected to server."
														},
														{
															"const": "offline",
															"name": "Offline",
															"description": "Device is disconnected from server."
														}
													]
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Status",
				"description": "The connection status shows whether or not a device is currently online."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/connectivity/uptime": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity/uptime"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"average_6h": {
															"name": "Uptime (6-hour Average)",
															"description": "Moving average of the device uptime in the past 6 hours.\n\n> **Unit:** \n>\n>Percent (%)\n>\n>abc",
															"type": "number"
														}
													},
													"name": "Uptime",
													"description": "The proportion of time that a network device has been connected to server in a given timeframe."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Uptime",
				"description": "The proportion of time that a network device has been connected to server in a given timeframe."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/connectivity/uptime/average_6h": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					},
					{
						"$ref": "#/components/parameters/from"
					},
					{
						"$ref": "#/components/parameters/to"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/connectivity/uptime/average_6h"
															]
														}
													}
												},
												"response": {
													"name": "Uptime (6-hour Average)",
													"description": "Moving average of the device uptime in the past 6 hours.\n\n> **Unit:** \n>\n>Percent (%)\n>\n>abc",
													"type": "number"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Uptime (6-hour Average)",
				"description": "Moving average of the device uptime in the past 6 hours."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"signal": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/signal"
															]
														},
														"connection": {
															"type": "object",
															"properties": {
																"status": {
																	"name": "Status",
																	"description": "The connection status refers to whether or not a connection is enabled.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "enabled",
																			"name": "Enabled",
																			"description": "Network is enabled."
																		},
																		{
																			"const": "disabled",
																			"name": "Disabled",
																			"description": "Network is disabled."
																		}
																	]
																},
																"ip_address": {
																	"name": "IP Address",
																	"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet.",
																	"type": "string",
																	"example": "192.168.1.10",
																	"anyOf": [
																		{
																			"format": "ipv4"
																		},
																		{
																			"format": "ipv6"
																		}
																	]
																}
															},
															"additionalProperties": false,
															"name": "Connection",
															"description": "Parameters related to the status and configuration of a network connection."
														}
													},
													"name": "Wi-Fi",
													"description": "Wi-Fi is a wireless technology that allows devices to connect to the internet or local networks using radio waves, typically in the 2.4 GHz and 5 GHz bands, without physical cables. It's facilitated by wireless routers that broadcast internet connections to devices like computers, smartphones, and tablets."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Wi-Fi",
				"description": "Wi-Fi is a wireless technology that allows devices to connect to the internet or local networks using radio waves, typically in the 2.4 GHz and 5 GHz bands, without physical cables. It's facilitated by wireless routers that broadcast internet connections to devices like computers, smartphones, and tablets."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi/signal": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/signal"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"rssi": {
															"name": "RSSI",
															"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality.\n\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt.",
															"type": "number"
														}
													},
													"name": "Signal",
													"description": "Parameters related to the strength and quality of a network signal."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Signal",
				"description": "Parameters related to the strength and quality of a network signal."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi/signal/rssi": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					},
					{
						"$ref": "#/components/parameters/from"
					},
					{
						"$ref": "#/components/parameters/to"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/signal/rssi"
															]
														}
													}
												},
												"response": {
													"name": "RSSI",
													"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality.\n\n> **Unit:** \n>\n>Decibel-milliwatt (dBm)\n>\n>dBm denotes signal strength, measured in decibels relative to one milliwatt.",
													"type": "number"
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "RSSI",
				"description": "RSSI (Relative Signal Strength Indicator) measures the power level of received signals in dBm. A value closer to 0, like -60 dBm, indicates a strong received signal, while a lower value, like -90 dBm, indicates a weaker one. Each 3 dBm increase indicates an approximate doubling in power. RSSI helps assess wireless network coverage and connection quality."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi/connection": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/connection"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"status": {
															"name": "Status",
															"description": "The connection status refers to whether or not a connection is enabled.",
															"type": "string",
															"oneOf": [
																{
																	"const": "enabled",
																	"name": "Enabled",
																	"description": "Network is enabled."
																},
																{
																	"const": "disabled",
																	"name": "Disabled",
																	"description": "Network is disabled."
																}
															]
														},
														"ip_address": {
															"name": "IP Address",
															"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet.",
															"type": "string",
															"example": "192.168.1.10",
															"anyOf": [
																{
																	"format": "ipv4"
																},
																{
																	"format": "ipv6"
																}
															]
														}
													},
													"name": "Connection",
													"description": "Parameters related to the status and configuration of a network connection."
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Connection",
				"description": "Parameters related to the status and configuration of a network connection."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi/connection/status": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/connection/status"
															]
														}
													}
												},
												"response": {
													"name": "Status",
													"description": "The connection status refers to whether or not a connection is enabled.",
													"type": "string",
													"oneOf": [
														{
															"const": "enabled",
															"name": "Enabled",
															"description": "Network is enabled."
														},
														{
															"const": "disabled",
															"name": "Disabled",
															"description": "Network is disabled."
														}
													]
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "Status",
				"description": "The connection status refers to whether or not a connection is enabled."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/wifi/connection/ip_address": {
			"get": {
				"tags": [
					"active"
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/wifi/connection/ip_address"
															]
														}
													}
												},
												"response": {
													"name": "IP Address",
													"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet.",
													"type": "string",
													"example": "192.168.1.10",
													"anyOf": [
														{
															"format": "ipv4"
														},
														{
															"format": "ipv6"
														}
													]
												}
											}
										}
									]
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {}
					}
				},
				"summary": "IP Address",
				"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet."
			}
		},
		"/{organisation_id}/nodes/{node_id}/network/linc_mesh": {
			"get": {
				"tags": [],
				"parameters": [
					{
						"$ref": "#/components/parameters/organisation_id"
					},
					{
						"$ref": "#/components/parameters/node_id"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"signal": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh/signal"
															]
														},
														"connection": {
															"type": "object",
															"properties": {
																"status": {
																	"name": "Status",
																	"description": "The connection status refers to whether or not a connection is enabled.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "enabled",
																			"name": "Enabled",
																			"description": "Network is enabled."
																		},
																		{
																			"const": "disabled",
																			"name": "Disabled",
																			"description": "Network is disabled."
																		}
																	]
																},
																"ip_address": {
																	"name": "IP Address",
																	"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet.",
																	"type": "string",
																	"example": "192.168.1.10",
																	"anyOf": [
																		{
																			"format": "ipv4"
																		},
																		{
																			"format": "ipv6"
																		}
																	]
																},
																"hop_count": {
																	"name": "Hop Count",
																	"description": "Hop count in a mesh network refers to the number of intermediate nodes that data must pass through between its originating node and the root node with internet access. It serves as a metric to determine the path's length and potential latency. As the hop count increases, it can impact the overall bandwidth availability and network efficiency due to increased chances of congestion and interference.",
																	"type": "number"
																},
																"parent_node": {
																	"name": "Parent Node",
																	"description": "Parent node in a mesh network refers to an immediate upstream node to which another node (typically referred to as the child node) is directly connected. The parent node helps the child node with tasks like routing data, establishing connectivity, or maintaining the network hierarchy within the mesh topology.",
																	"type": "string",
																	"example": "1007",
																	"pattern": "^[123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{1}[0123456789ABCDEFGHJKLMNPQRSTUVWXYZ]{3,5}$"
																}
															},
															"additionalProperties": false,
															"name": "Connection",
															"description": "Parameters related to the status and configuration of a network connection."
														}
													},
													"name": "Linc Mesh",
													"description": "The Linc Mesh provides internet access throughout a building by relaying data through Linc nodes. It uses the 2.4 GHz frequency for Wi-Fi-like range and speed. It self-routes data across nodes, reducing reliance on central access points and making the connection more resilient."
												}
											}
										},
										{
											"type": "object",
											"properties": {
												"_links": {
													"type": "object",
													"properties": {
														"self": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh"
															]
														}
													}
												},
												"response": {
													"type": "object",
													"properties": {
														"signal": {
															"type": "string",
															"format": "uri",
															"examples": [
																"/d0c80c56-fd5f-4278-8b10-28959f4daf26/nodes/1004/network/linc_mesh/signal"
															]
														},
														"connection": {
															"type": "object",
															"properties": {
																"status": {
																	"name": "Status",
																	"description": "The connection status refers to whether or not a connection is enabled.",
																	"type": "string",
																	"oneOf": [
																		{
																			"const": "enabled",
																			"name": "Enabled",
																			"description": "Network is enabled."
																		},
																		{
																			"const": "disabled",
																			"name": "Disabled",
																			"description": "Network is disabled."
																		}
																	]
																},
																"ip_address": {
																	"name": "IP Address",
																	"description": "An IP (Internet Protocol) address is a unique numerical label assigned to devices for identification and location on a network, ensuring they can communicate with each other. It acts as a digital address, allowing data to be directed and received by the correct device on both local networks and the internet.",
																	"type": "string",
																	"example": "192.168.1.10",
																	"anyOf": [
																		{
																			"format": "ipv4"
																		},
																		{
																			"format": "ipv6"
																		}
																	]
																},
																"hop_count": {
																	"name": "Hop Count",
																	"description": "Hop count in a mesh network refers to the number of intermediate nodes that data must pass through between its originating node and the root node with internet access. It serves as a metric to determine the path's length and potential latency. As the hop count increases, it can impact the overall bandwidth availability and network efficiency due to increased chances of congestion and interference.",
[...]
